body {
 background-color: #121212;
  color: #EAEAEA;
font: normal 16pt Arial;
}
@font-face {
    font-family: 'nakan';
    src: url(aAsianNinja.otf);
}
@font-face {
    font-family: 'naka';
    src: url(ChineseDragon.ttf);
    
    font-weight: normal;
}
h1 {
     color: #FFFFFF;
  text-shadow: 2px 2px 4px #000000;
    font-family: 'nakan';
     font-size: 2rem;      
     line-height: 1.2;     
     
}
h2 {
    color: black;
     font-family: 'naka';
     background-image: linear-gradient(to right, #DFD8F7, transparent);
     text-indent: 8px;
    
}
h3  {
    color: black;
     font-family: 'naka';
}
p {
    color:#F1F1F1;
}
li {
   color: #F1F1F1;
}
footer {
    color: #F1F1F1;
    text-align: center;
    margin-top: 30px;
    background-color: #00bbf9bb;
    
}
a {
 color: white;
    text-decoration: none;
   
}
section > a:hover {
  color: #D600AA; 
}
header {
   background: linear-gradient(90deg, #512BD4, #DFD8F7);
   color: white;
    padding-top: 40px;
    min-height: 110PX;
}
section {
  background: linear-gradient(90deg, #512BD4, #DFD8F7);
    padding: 10px;
    box-shadow: #a65de57a;
     word-spacing: 10px;
    
}
div {
     width: 100%;
    max-width: 900px;
     margin: auto;
     background-color: #00cfff; 
     padding: 20px;
     box-shadow: 0px 0px 10px #5a4fcf86;
     margin-bottom: 30px;
     border-bottom-left-radius: 10px;
     border-bottom-right-radius: 10px;

}
* {
    margin: 0;
    padding: 0;
}
div img {
width: 100%;
}
header > h1 {
  font-size: 2rem;
  line-height: 1.1;
  margin: 0;
  padding: 0;
  text-align: center;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.479);
}

 header > p {
     text-align: center;
 }
p {
    margin: 15px 0px;
    text-indent: 30px;
    text-align: justify;
    font-size: 1em;
    line-height: 1.1em;
}
aside {
    background-color: #F15BB5;
    padding: 10px;
    border-radius: 20px;
    box-shadow:3px 3px 8px rgba(0, 0, 0, 0.418);
}
aside > ul {
   list-style: inside;
   columns: 2;
}
aside > h3 {
    background-color: #DFD8F7;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
}
div#video {
    margin-bottom: 40px;
    margin: 0px -20px 30px -20px;
    position: relative;
    padding-bottom: 50%;
  
}
div#video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%
}